@model IEnumerable<inmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Listado de Contratos";
}

<div class="text-center">
    <h1 class="display-4">Contratos</h1>
    <p>
        <a asp-action="Registrar">Registrar Nuevo</a>
</p>
<hr />
</div>
<span>form para filtros de contratos quizas</span>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InquilinoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropietarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InmuebleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoMensual)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-action="Detalles" asp-controller="Inquilinos" asp-route-id="@item.InquilinoId" >@item.inquilino.ToString()</a>
            </td>
            <td>
                <a asp-action="Detalles" asp-controller="Propietarios" asp-route-id="@item.PropietarioId" >@item.propietario.ToString()</a>
            </td>
            <td>
                <a asp-action="Detalles" asp-controller="Inmuebles" asp-route-id="@item.InmuebleId" >@item.inmueble.ToString()</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
               $ @Html.DisplayFor(modelItem => item.MontoMensual)
            </td>
            <td>
                <a asp-action="Editar"  asp-route-id="@item.Id" title="Editar"><span class="fa-regular fa-pen-to-square fa-lg" style="color: #050505;"></span></a>&nbsp; | 
                <a asp-action="Detalles" asp-route-id="@item.Id" title="Detalles"><span class="fa-solid fa-list fa-lg" style="color: #050505;"></a>&nbsp; | 
				<a asp-action="Eliminar" asp-route-id="@item.Id" title="Eliminar"><i class="fa-regular fa-trash-can fa-lg"style="color: #050505;"></i></a> |  
                <a class="link-dark text-center" asp-action="PagosPorContrato" asp-controller="Pagos" asp-route-id="@item.Id" title="Ver Pagos"><span >PagosPorContrato</span></a>
            </td>
        </tr>
}
    </tbody>
</table>
