@model IEnumerable<inmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Listado de Contratos";
}

<div class="text-center">
    <h1 class="display-4">Contratos</h1>
    <p>
        <a asp-action="Registrar">Registrar Nuevo</a>
</p>
<hr />
</div>
@if(ViewData["buscar"] == null){
   <div class="container">
    <form asp-action="FiltrarFecha">
        <div class="row align-items-center">
            <div class="col-auto"><label for="FechaInicial" class="control-label">Fecha Inicial: </label></div>
            <div class="col-auto"><input type="date" name="FechaInicial" class="form-control" id=""></div>
            <div class="col-auto"><label for="FechaFinal" class="control-label">Fecha Final: </label></div>
            <div class="col-auto"><input type="date" name="FechaFinal" class="form-control" id=""></div>
            <div class="col-3 text-center"><input type="submit" value="Filtrar por Fechas" class="btn btn-dark"></div>
        </div>
    </form>
    <hr />
    </div> 
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InquilinoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropietarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InmuebleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoMensual)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
    @if(Model.Any()){
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-action="Detalles" asp-controller="Inquilinos" asp-route-id="@item.InquilinoId" >@item.inquilino.ToString()</a>
            </td>
            <td>
                <a asp-action="Detalles" asp-controller="Propietarios" asp-route-id="@item.PropietarioId" >@item.propietario.ToString()</a>
            </td>
            <td>
                <a asp-action="Detalles" asp-controller="Inmuebles" asp-route-id="@item.InmuebleId" >@item.inmueble.ToString()</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
               $ @Html.DisplayFor(modelItem => item.MontoMensual)
            </td>
            <td>
                <a asp-action="Editar"  asp-route-id="@item.Id" title="Editar"><span class="fa-regular fa-pen-to-square fa-lg" style="color: #050505;"></span></a>&nbsp; | 
                <a asp-action="Detalles" asp-route-id="@item.Id" title="Detalles"><span class="fa-solid fa-list fa-lg" style="color: #050505;"></a>&nbsp; | 
				<a asp-action="Eliminar" asp-route-id="@item.Id" title="Eliminar"><i class="fa-regular fa-trash-can fa-lg"style="color: #050505;"></i></a> |  
                <a class="link-dark text-center" asp-action="PagosPorContrato" asp-controller="Pagos" asp-route-id="@item.Id" title="Ver Pagos"><span >PagosPorContrato</span></a>
            </td>
        </tr>
    }
    }else{
        <p>No hay contratos registrados</p>
    }
    </tbody>

</table>
<br>
@if(ViewData["buscar"] != null){
        <a class="link-light text-center" asp-action="Index" ><button class="btn btn-dark">Volver</button></a>
    }
