@model IEnumerable<inmobiliaria.Models.Inmueble>

@{
    ViewData["Title"] = "Listado de Inmuebles";
}
<div class="text-center">
    <h1 class="display-4">Inmuebles</h1>
    <p>
        <a asp-action="Registrar">Registrar Nuevo</a>
    </p>
</div>
    
<div>

<h3 class="display-6">Listado de inmuebles</h3>
<br>
<span>form para filtros de inmuebles</span>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card text-bg-dark mb-3" style="max-width: 400px;" >
                <img class="card-img-top" src="css/img/lav_default.png" alt="Imagen del Inmueble">
                <div class="card-body">
                    <h4>@Html.DisplayFor(modelItem => item.Direccion)</h4>
                    <p class="card-text "><strong>@Html.DisplayNameFor(model => model.Precio)</strong> : $ @Html.DisplayFor(modelItem => item.Precio)</p>
                    <p class="card-text"><strong>Propietario</strong> : @(item.propietario.ToString())</p>
                    <p class="card-text"><strong>@Html.DisplayNameFor(model => model.Tipo)</strong> : @Html.DisplayFor(modelItem => item.Tipo)</p>
                    <p class="card-text"><strong>@Html.DisplayNameFor(model => model.Estado)</strong> : @if (item.Estado) { <span class="text-success">Disponible</span> } else { <span class="text-danger">No Disponible</span> }</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-light" asp-action="Detalles" asp-route-id="@item.Id">Detalles</a>
                            <a class="btn btn-sm btn-outline-light" asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                            <a class="btn btn-sm btn-outline-light" asp-action="Eliminar" asp-route-id="@item.Id">Eliminar</a>
                        </div>
                        <small class="text-muted">Generar Contrato</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
</div>
<!--
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropietarioId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ambientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @(item.propietario.ToString())
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
-->
