@model IEnumerable<inmobiliaria.Models.Pago>

@{
    ViewData["Title"] = "Listado de Pagos";
    var idContrato = (int)ViewData["idContrato"];
}

<div class="text-center">
    <h1 class="display-4">Pagos</h1>
    <p>
        <a asp-action="Registrar" asp-route-id="@idContrato">Registrar Nuevo Pago</a>
    </p>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContratoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.importe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if(Model.Any()){
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContratoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.importe)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
                @Html.ActionLink("Detalles", "Detalles", new { id=item.Id }) |
                @Html.ActionLink("Eliminar", "Eliminar", new {id=item.Id })
            </td>
        </tr>
    }
}else{
    <tr>
        <td>
            <span>No hay pagos registrados</span>
        </td>
        
    </tr>
    }
    </tbody>
</table>
